%h3 Seu agendamento foi aprovado

%p
  Olá
  = @schedule.host.name
  ,
  %br o seu agendamento com
  - @schedule.visitors.each do |v|
    = v.name
    - unless @schedule.visitors.last == v
      ,
  em
  = @schedule.datetime
  foi aprovado.

%p= link_to 'Clique aqui para ver os detalhes', @schedule

%sub Esse é um email automático. Favor não responder.
