%h3 Um novo agendamento esta aguardando aprovação

%p
  = @schedule.host.name
  agendou uma reunião com
  - @schedule.visitors.each do |v|
    = v.name
    - unless @schedule.visitors.last == v
      ,
  em
  = @schedule.datetime

%p= link_to 'Clique aqui para aprovar', @schedule

%sub Esse é um email automático. Por favor não responda.
