// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Variables //
$titleheight: 28px
$titlepadding: 20px
// Mixins //
@mixin title-banner
  color: white
  top: 0px
  left: 0px
  padding-top: $titlepadding
  padding-bottom: $titlepadding
  position: fixed
  width: 100%
  height: $titleheight
  box-shadow: 0px 0px 15px #888888
  text-align: center
  font-variant: small-caps
  letter-spacing: 2px
// Title //

#title
  @include title-banner
  background-color: #009688 // Verde Petróleo 500 - Google Material Design Pallete
  font-size: 35px
  z-index: 10

#square
  position: relative
  top: 0px
  left: 0px
  z-index: 11
  
  img
    width: auto
    height: 102px

#alert
  @include title-banner
  background-color: #D50000 // Vermelho A700 - Google Material Design Pallete
  font-size: 30px
  z-index: 11

#notice
  @include title-banner
  background-color: #FFCA28 // Âmbar 400 - Google Material Design Pallete
  font-size: 30px
  z-index: 11

#hmenu
  background-color: #B2DFDB // Cerceta 200 - Google Material Design Pallete
  font-size: 11px
  z-index: 9
  color: #00695C
  top: $titleheight + 2*($titlepadding) //68px
  border-top: $titlepadding //20px
  left: 0px
  position: fixed
  width: 100%
  height: 25px
  text-align: center
  text-transform: uppercase
  letter-spacing: 1px
  box-shadow: 0px 0px 15px #888888
  -webkit-transition-property: width //* Safari support*/
  -webkit-transition-duration: 2s //* Safari support*/
  transition-property: height
  transition-duration: .2s
  
  span
    line-height: 30px
    vertical-align: bottom
    
  p
    font-family: sans-serif
    font-size: 13px
    line-height: 18px
    text-decoration: none
    color: #00695C
    transition-property: color
    transition-duration: .2s
    margin-top: 6px
    margin-bottom: 0
    margin-left: 10px
    margin-right: 10px
    font-weight: bold
  
  a
    text-decoration: none
    color: #00695C
    transition-property: color
    transition-duration: .2s

    &:hover
      color: white
  
  &:hover
    height: 28px
      
  ul
    list-style-type: none
    padding: 0
    margin: 0
  
  .dropdown
   //width: 100px;
      
  .dropdown-item
    display: inline-block
   
  .dropdown-item:hover .dropdown-sub
    display: block
   
  .dropdown-label, .dropdown-sub-label
    display: block
    font-size: 10px
    color: #fff
    border: 1px solid red
   
  .dropdown-label
    margin: 30px
    z-index: 6
    border: 1px solid red
   
  .dropdown-sub
    display: none
    position: absolute
    background: #B2DFDB
    box-shadow: 0px 0px 15px #888888
    margin: -3px 0px 0px 0px
    z-index: 5
   
  .dropdown-sub-label
    padding: 5px 20px
    border: 1px solid red

.checkbox_field
  label
    display: inline-block
    margin-bottom: 10px

.visitorTopBorder
  border-top: 1px solid gray

.visitorContainer
  @extend .visitorTopBorder
  margin: auto
  text-align: center
  margin-top: 5px
  display: block
  border-color: lightgrey
  
.list
  margin: auto
  width: auto
  text-align: center

.container, .field
  margin: auto
  min-width: 500px
  width: auto
  text-align: center
  margin-top: 120px
  table
    margin: auto
    width: auto
    table-layout: auto
    min-width: 500px
    padding: 10px
  .field_with_errors
    margin: auto
    width: auto

  #paper
    margin-left: auto
    margin-right: auto
    margin-bottom: 30px
    background-color: #FFFFFF //Branco 0 - Google Material Design Pallete
    width: 500px
    height: auto
    box-shadow: 0px 0px 5px #455A64
    input
      color: white
      letter-spacing: 2px
      background-color: #4DB6AC //Verde Petróleo 500 - Google Material Design Pallete
      width: 180px
      height: 30px
      border: 0

      &:hover
        background-color: #26A69A //Verde Petróleo 400 - Google Material Design Pallete

    // BEGIN OF GENERIC TABLE //
    table
      width: inherit
      min-width: 100px
      text-align: center
      border-collapse: collapse
      padding-top: 10px
      margin-bottom: 15px
      margin-left: auto
      margin-right: auto
      
      // BEGIN OF GENERIC THEAD //
      thead
        color: #424242  //Cinza 800 - Google Material Design Pallete
        line-height: 60px
        font-size: 15px
      // END OF GENERIC THEAD //

      // BEGIN OF TABLE DATA //
      .data
        color: #757575 //Cinza 600 - Google Material Design Pallete

        a
          color: #00BFA5 //Verde Petróleo 400 - Google Material Design Pallete
          background-color: transparent

        tr
          height: 30px

          &:nth-child( odd )
            background: #F5F5F5 //Cinza 100 - Google Material Design Pallete

        td 
          width: 150px
          padding-left: 5px
          padding-right: 5px
      // END OF TABLE DATA //

      // BEGIN OF TABLE COMMANDS //
      .commands tr
        height: 60px
        form
          width: inherit
          border: none
      // END OF TABLE COMMANDS //

.field
  @extend .container
  margin-top: auto


.small-container
  margin: auto
  text-align:center
  display: inline-block
  margin-top: 32px
  a
    &:hover
      color: black
      background-color: transparent
  .half-r
    margin-left: auto
    float: right
  .half-l
    margin-right: auto
    float: left

form
  border: 1px dotted black
  padding: 10px
  width: 500px
  margin: auto

.container-show
  @extend .container, form
  form
    border: none
    padding: 10px
    width: auto
    margin: auto

button
  float: right

table
  width: 100%
  border-collapse: collapse

  td
    label
      text-align: right
    input
      width: 90%

// BEGIN OF FORMY //
#formy
  padding-top: 20px
  padding-bottom: 10px
  position: relative
  // top: 150px
  margin-left: auto
  margin-right: auto
  background-color: #FFFFFF //Branco 0 - Google Material Design Pallete
  box-shadow: 0px 0px 5px #888888
  width: 500px
  text-align: center
  h3
    text-align: left
    padding-left: 40px

  .form-visitor
    hr
      width: 70%
      border-top: 1px dotted gray
      border-bottom: none
  form
    margin-left: auto
    margin-right: auto
    min-width: 350px
    width: 500px
    border: 0
    text-align: center
    padding: 0
    .field
      width: 330px
      overflow: auto
      

    .inputcheck
      margin-left: auto
      margin-right: auto
      width: 450px
      font-size: 15px

      input[type="checkbox"]
        + label span
          margin-left: 20px
          bottom: 5px
          cursor: pointer
          vertical-align: middle
          position: relative
          cursor: pointer
    #commands
      text-align: center

      input[type="submit"]
        margin-top: 10px
        color: white
        letter-spacing: 2px
        background-color: #4DB6AC //Verde Petróleo 500 - Google Material Design Pallete
        width: auto//130px
        height: 30px
        border: 0

        &:hover
          background-color:#26A69A //Verde Petróleo 400 - Google Material Design Pallete
    // SPECIAL BUTTON FOR LOGIN PAGE //
    #login
      color: white
      letter-spacing: 2px
      background-color: #009688 //Verde Petróleo 500 - Google Material Design Pallete
      width: 274px
      height: 43px
      border: 0
      border-radius: 3px
      &:hover
        background-color:#26A69A //Teal 400 - Google Material Design Pallete

    input
      margin-bottom: 10px
      &[type="email"], &[type="password"], &[type="text"]
        background-color: #FFFFFF
        padding-left: 10px
        width: 261px
        height: 43px
        border: 1px solid #BDBDBD
        letter-spacing: 2px
        &:focus
          background-color: #FAFAFA //Cinza 50 - Google Material Design Pallete

    //textarea
      width: 252px
      height: 150px
      border: 1px solid #BDBDBD //Cinza 400 - Google Material Design Pallete
      resize: none
      padding: 5px 10px 5px 10px
      &:focus
        background-color: #FAFAFA //Cinza 50 - Google Material Design Pallete

    //select
      background-color: #FFFFFF
      width: auto
      height: auto
      border: 1px solid #BDBDBD
      letter-spacing: 2px
      margin-top: 6px
      margin-bottom: 10px
      &:focus
        background-color: #FAFAFA //Cinza 50 - Google Material Design Pallete
// END OF FORMY //

// BEGIN OF NAVIGATION MENU //
nav
  ul
    list-style: none
    margin: 0
    padding: 0
    display: inline-block

  li
    float: left
    margin: 0
    padding: 0
    position: relative
    min-width: 0px

    ul
      display: none
      float: left
      left: 0
      opacity: 0
      position: absolute
      visibility: hidden
      z-index: 1
      -webkit-transition: all .25s ease
      -moz-transition: all .25s ease
      -ms-transition: all .25s ease
      -o-transition: all .25s ease
      transition: all .25s ease
      
      li
        float: none
        width: 100%

    &:hover ul
      display: block
      opacity: 1
      visibility: visible

    &:hover a
      background: #B2DFDB

  a
    color: #00695C
    display: block
    font: bold 13px/20px sans-serif
    padding: 0 10px
    padding-top: 5px
    text-align: center
    text-decoration: none
    -webkit-transition: all .25s ease
    -moz-transition: all .25s ease
    -ms-transition: all .25s ease
    -o-transition: all .25s ease
    transition: all .25s ease

// END OF HORIZONTAL MENU STYLE //
