// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.checkbox_field
  label
    display: inline-block
    margin-bottom: 10px

.visitorTopBorder
  border-top: 1px solid gray

.visitorContainer
  @extend .visitorTopBorder
  margin: auto
  text-align: center
  margin-top: 5px
  display: block
  border-color: lightgrey
  
.list
  margin: auto
  width: auto
  text-align: center

.container, .field
  margin: auto
  min-width: 500px
  width: auto
  text-align: center
  table
    margin: auto
    width: auto
    table-layout: auto
    min-width: 500px
    padding: 10px
  .field_with_errors
    margin: auto
    width: auto

.small-container
  margin: auto
  text-align:center
  display: inline-block
  margin-top: 32px
  a
    &:hover
      color: black
      background-color: transparent
  .half-r
    margin-left: auto
    float: right
  .half-l
    margin-right: auto
    float: left

form
  border: 1px dotted black
  padding: 10px
  width: 500px
  margin: auto

.container-show
  @extend .container, form
  form
    border: none
    padding: 10px
    width: auto
    margin: auto

button
  float: right

table
  width: 100%
  border-collapse: collapse

  td
    label
      text-align: right
    input
      width: 90%
