%p
  Olá #{@resource.email}!
%p Foi feita uma requisição para alterar a sua senha. Você pode continuar através do link abaixo.
%p= link_to 'Alterar senha', edit_password_url(@resource, reset_password_token: @token)
%p Se você não requisitou isso, por favor ignore este email.
%p A sua senha não mudará até voce acessar o link acima e criar uma nova.
